#greeting{
  font-weight: bold;
  animation: mymoves 2s infinite;

}
@keyframes mymoves{
  from{color: blue;}
  to{color: red;}
}

html{
  background-color: black;
  color: white;
  font-family: 'Baloo 2', sans-serif;
  font-style: normal;
}

footer{
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 50px;
  font-size:10px;
  
}

#topNav{
  animation: bounceInRight ease;
  animation-duration: 3s;
  padding: 5px;
  position: absolute;
  top: 1px;
  margin-left: 100%;
  padding: 2px;
  /*display: flex; 
  justify-content: space-between; */
}
#navLi{
  position: static; 
  display: block;
  list-style: none; 
}
a{
  text-decoration: none; 
  font-weight: 400;
}

#usernameBox{
  margin-right: 75%;
  padding: 5px;
  border: 4px;
  border-style: solid;
  border-radius: 15px;
  border-color: red blue green yellow;
  font-family: 'Baloo 2', sans-serif;
  font-style: normal;
}
figcaption{
  color: grey;
  font-family: "Times New Roman", Times, serif;
  font-size: 10px;
}

#projects, #login, #edu{
  border: 1px solid black;
  border-radius: 10px;
  background-color: black;
}

#profile{
  border: 4px;
  border-style: solid;
  border-radius: 100px;
  padding: 0.5px;
  border-color: white;
}

#whoAmI{
  border: 4px solid;
  text-align: center;
  font-size: 15px;
  padding: 20px;
  margin-right: 15%;
  margin-left: 15%;
  background-color: #333333;
  border-color: darkgray;
  color: grey;
  
}

#myHobbies{
  border: 3px solid #666;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 0 15px #888;
  border-collapse: separate;
  border-spacing: 40px;
  margin-right: 15%;
  margin-left: 15%;
}



#myHobbies td{
  background-color: white;
  padding: 10px 10px 35px 10px; /* thicker bottom like polaroid */
  text-align: center;
  box-shadow: 0px 5px 12px rgba(0,0,0,0.3);
  border-radius: 3px;
  width: 200px;
}

#myHobbies img{
  width: 100%;
  display: block;
}

/* caption text */
#myHobbies h3{
  margin-top: 10px;
  color: white;
  background-color: black;
}












