#greeting{
  font-weight: bold;
  animation: mymoves 2s infinite;

}
@keyframes mymoves{
  from{color: blue;}
  to{color: red;}
}
h1{
  text-align: center;
  animation: zoomInDown;
  animation-duration: 1s;
}
html{
  background-color: black;
  color: white;
  font-family: 'Baloo 2', sans-serif;
  font-style: normal;
}

footer{
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 50px;
  font-size:10px;
  
}

#topNav{
  animation: bounceInRight ease;
  animation-duration: 3s;
  padding: 5px;
  position: absolute;
  top: 1px;
  right: 0;
  padding: 2px;
  /*display: flex; 
  justify-content: space-between; */
}
#navLi{
  position: static; 
  display: block;
  list-style: none; 
}
a{
  text-decoration: none; 
  font-weight: 400;
}
.container {
  position: relative;
  width: 50%
}

.image {
  display: block;
  width: 50%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50%;
  width: 50%;
  opacity: 0;
  transition: .5s ease;
  background-color: lightblue;

}

.container:hover .overlay {
  opacity: 1;
}

.text {
  /*color: white;
  padding: 5px;
  font-size: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%); */
  text-align: center;
  font-size: 15px;
  padding: 20px;
}
#usernameBox{
  margin-right: 75%;
  padding: 5px;
  border: 4px;
  border-style: solid;
  border-radius: 15px;
  border-color: red blue green yellow;
  font-family: 'Baloo 2', sans-serif;
  font-style: normal;
}
figcaption{
  color: grey;
  font-family: "Times New Roman", Times, serif;
  font-size: 10px;
}

#projects, #login{
  border: 1px solid black;
  border-radius: 10px;
  background-color: black;
}
#whoAmI{
  border: 1px dotted blue;
  text-align: center;
  font-size: 15px;
  padding: 20px;
  margin-right: 15%;
}
#Q1{
  color: red;
}

#myHobbies{
border: 1px dashed greenyellow;
 padding: 5px;
 margin: 0 auto 15px; 
 border-collapse: separate;
 border-spacing: 20px;

}
