#greeting{
  font-weight: bold;
  animation: mymoves 2s infinite;

}
@keyframes mymoves{
  from{color: blue;}
  to{color: red;}
}
h1{
  text-align: center;
  animation: zoomInDown;
  animation-duration: 1s;
}
html{
  background-color: black;
  color: white;
  font-family: 'Baloo 2', sans-serif;
  font-style: normal;
}

footer{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 50x;
  font-size:10px;
  
}

#topNav{
  animation: slideInDown ease;
  animation-duration: 3s;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
}
li{
  top: 20px;
  right:20px;
  position: absolute;
  display: inline-block;
  list-style: none;
  margin: 10px 15px;
}
a{
  text-decoration: none; 
  font-weight: 400;
}
.container {
  position: relative;
  width: 30%
}

.image {
  display: block;
  width: 20%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;

}

.container:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

#bannana{
  position: absolute;
  top: 80px;
  right: 50px;
  animation: mymoves 2s infinite;
}
