header{
  text-align: center;
  padding: 20px;
  
}

main{
  text-align: center;
  padding: 0px;
}

footer{

  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 50x;
  font-size: 10px;
  
}


@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');

html{
  background-color: #e6dfc8;
  color: #222;
  font-family: "Courier New", monospace;
  font-style: normal;
}
fieldset{
  margin-left: 30%;
  margin-right: 30%;
  padding: 30px;
  border: 2px solid black;
  border-radius: 5px;
  background-color: #fdfaf0;
  box-shadow: 8px 8px 20px rgba(0,0,0,0.3);
  animation: heartBeat;
  animation-duration: 3s;
}

#stamp{
  color: red;
  border: 3px solid red;
  display: inline-block;
  padding: 5px 15px;
  transform: rotate(-15deg);
  margin-bottom: 20px;
}


button{
  border-radius: 15px;
}
button:hover{
  opacity: 0.5;
}
button:active{
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
input{
  border-radius: 15px;
}

#usernameBox:hover{
  background-color: silver;
}

#fileInfo{
  animation: fadeIn;
  animation-duration: 5s;

}










